@model VirtualClassroom.Models.ProfessorViewModels.ActivityDetailsVM
@{
    ViewData["Title"] = "Activity Details";
}
@if (Model != null)
{
    <h2>@Model.Name Details</h2>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Student</th>
                        <th>Presence</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        foreach (var activityInfo in student.ActivityInfos)
                        {
                            <tr>
                                <td class="col-md-2">
                                    @String.Format("{0:dd.MM.yyyy}", activityInfo.OccurenceDate)
                                </td>
                                <td class="col-md-4">
                                    <a href="/Students/@student.Id/Details">@student.FirstName @student.LastName</a>
                                </td>
                                <td class="col-md-2">
                                    @(activityInfo.Presence ? "Present" : "Absent")
                                </td>
                                <td class="col-md-2">
                                    @(activityInfo.Grade > 0 ? $"{activityInfo.Grade}" : "—")
                                </td>
                                <td class="col-md-2">
                                    <a href="./@Model.Id/Students/@student.Id/Edit/@activityInfo.Id">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <h1 class="text-center">No Data</h1>
            </div>
        </div>
    </div>
}

